* {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
  }
  
  body {
    font-family: 'Gloock', serif;
    padding: 0;
    margin: 0;
    line-height: 1.5rem;
    word-spacing: 0.3rem;
    background-color: #e1f2e7;
  }
  
  p {
    max-width: 600;
  }
  
  #container {
    max-width: 100vw;
    padding: 20px;
  
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }
  
  header {
    width: 100%;
    margin: 0;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    background-color: #568d6d;
  }
  
  .navigation {
    display: flex;
    flex-wrap: wrap;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 20px;
  }
  
  .internal--link {
    text-decoration: none;
    color: #09092c;
    margin-left: 0px;
    margin-right: 20px;
    padding: 5px 20px;
    background-color: gainsboro;
    border: 1px solid darkgray;
    border-radius: 40px;
    box-shadow: 2px 2px rgb(35, 35, 35);
  }
  
  #contact-me {
    background: #69c7b3;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .headline {
    font-size: 38px;
    font-weight: 500;
    align-self: center;
    margin-bottom: 10px;
  }
  
  .main--image {
    align-self: center;
  }
  
  .profile-pic {
    border-radius: 10%;
  }
  
  .qualities {
    flex: 1;
    align-self: center;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Gloock', serif;
    word-spacing: 10px;
  }
  
  .about-me {
    flex: 1;
  }
  
  .sub-heading {
    text-align: center;
    font-size: 24px;
    text-decoration: underline;
    font-weight: 100;
  }
  
  .pictures {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
  }
  
  .italy-pic {
    max-width:fit-content;
    border-radius: 50%;
    flex: 1;
    flex-wrap: wrap;
    align-self: center;
  }
  
  .caption {
    width: 482px;
    text-align: center;
  }
  
  .hiking-pic {
    max-width: fit-content;
    border-radius: 50%;
    flex: 1;
    flex-wrap: wrap;
  }
  
  footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .socials {
    margin-right: 40px;
    margin-left: 20px;
    color: rgb(10, 102, 194);
  }
  
  #copyright-footer {
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
  }
  
  .gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .picture-gallery {
    list-style: none;
  }
  
  .picture-gallery > li {
    flex-basis: 200px;
  }
  
  .gallery-pic {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }
  
  @media screen and (min-width: 768px) {
    header {
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .navigation {
      display: block;
      flex: 1;
      text-align: right;
        }
  
    .logo {
      text-align: left;
    }
  
    .internal--link {
      padding: 5px 15px;
    }
  }    
  